doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/plugins/bootstrap-5.2.3-dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        main.container
            section.row
                section.col-6.mx-auto.card.mt-3
                    p.h2.text-center.mt-2.text-primary User Login
                    form
                        div.mb-3
                            label.form-label(for="exampleInputEmail1") Email address
                            input.form-control#exampleInputEmail1(type="email", aria-describedby="emailHelp")
                            #emailHelp.form-text We'll never share your email with anyone else.
                        div.mb-3
                            label.form-label(for="exampleInputPassword1") Password
                            input.form-control#exampleInputPassword1(type="password")
                        div.mb-3.form-check
                            input.form-check-input#exampleCheck1(type="checkbox")
                            label.form-check-label(for="exampleCheck1") Check me out
                        div.mb-2.text-center
                            button.btn.btn-primary(type="submit") Submit