doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/plugins/bootstrap-5.2.3-dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        main.container
            section.row
                section.col-8.mx-auto.card.mt-3
                    